*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #343C56;
}
.container{
    max-width: 90%;
    margin: auto;
}
.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 46px;
}
.item{
    background-color: #FF0101;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 14px 45px;
    transition: 0.8s;
    cursor: pointer;
    border-radius: 12px;
}
.item:hover{
    color: red;
    background-color: white;
    box-shadow: 5px 5px rgba(76, 147, 146, 0.478);
}
.img_container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 68px;
}
.btn{
    padding: 69px 132px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 40px;
    transition: 0.6s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    margin-top: 41px;
}
.btn:hover{
    background-color: #137385;
    color: #091151;
    box-shadow: 8px 8px 8px 8px;
}
.mani{
    display: flex;
    justify-content: center;
    margin-top: 41px;
}
.doda{
    display: flex;
    justify-content: space-around;
    margin-top: 41px;

}
.ota{
    width: 400px;
    height: 200px;
    background-color: #EB1616;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bola{
    width: 300px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    background-color: #61FF00;
    padding: 19px;
}
